html {
    height: 100%;
}

body {
    background-color: rgb(214, 55, 77);
    color: #fff;
    opacity: 0.7;
    font-family: cursive;
    height: 100%;
}

h1 {
    padding-top: 2%;
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.main {
    text-align: center;
}

#title{
    background-color: rgb(233, 101, 118);
    width: 100px;
    padding: .50rem 0;
    border: 1px solid #fff;
    border-radius: 18px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
  }

#notes {
    background-color: rgb(233, 101, 118);
    width: 420px;
    padding: .50rem 0;
    border: 1px solid #fff;
    border-radius: 18px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}
  
.add {
    cursor: pointer;
    width: 5.11rem;
    padding: .44rem 0;
    border-radius: 54px;
    background-color: rgb(233, 101, 118);
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    font-family: cursive;
}

.add:hover {
    background-color: rgb(182, 26, 59);
}

#todo-list { 
    text-align: center;   
    list-style-type: none;
}

.todo-item-text {
    background-color: rgb(233, 101, 118);
    width: 420px;
    padding: .50rem 0;
    border: 1px solid #fff;
    border-radius: 18px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}
